@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');



.containers{
  color: white;
}


mat-toolbar {
  color: white;
}

mat-sidenav {
  position: fixed;
  margin: -8px -5px;
  width: 180px;
  
  /* background:  rgb(214, 214, 214); */
  background-color: #2c3968;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  /* position: static; */
  
  
}

mat-sidenav-container {
  
  height: calc(125vh - 150px);
  overflow: hidden;
 
}



.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

h4{
  color: white;
}

.container p{
  white-space: nowrap;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;

}

.container img{
  margin-left: -550px;
  justify-content: center;
  width: 700px;
  height: 500px;
}

a {
  position: relative;
  display: flex;
  justify-content:center;
  width: 100%;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
}

.menu-button{
  background-color: transparent;
  margin: 0 10px;
  max-width: 350px;
}

.menu-button a .icon{
  margin-left: -40px;
  position: relative;
  display: block;
  font-size: 1em;
  text-align: center;
}



.menu-button a .text{
  margin-left: 95px;
  position: absolute;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.menu-button:hover{
  background-color: skyblue;
}

.icon img{
  width: 60%;
}


ul{
  margin: 40px;
}

ul li{
  position: relative;
  list-style-type: none;
}




ul li a .icon{
  position: relative;
  display: block;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
}



ul li a .text{
  position: absolute;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
}
