@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');



.containers{
  color: white;
}


mat-toolbar {
  color: white;
}

mat-sidenav {
  margin: 20px;
  width: 180px;
  
  background:  #004c98;
  border-radius: 30px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 592px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  display: flex;
}

mat-sidenav-container {
  height: calc(120vh - 35px);
 
}



.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.containers h1{
  color: black;
  white-space: nowrap;
  letter-spacing: 3px;
  font-family: 'Saira Condensed', sans-serif;
}




.container h1 {
  white-space: nowrap;
  letter-spacing: 35px;
  font-family: 'Saira Condensed', sans-serif;
}

h4{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.container p{
  white-space: nowrap;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;

}

.container img{
  margin-left: -550px;
  justify-content: center;
  width: 800px;
  height: 500px;
}

a {
  position: relative;
  display: flex;
  justify-content:center;
  width: 100%;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
}

.menu-button{
  background-color: transparent;
  margin: 0 10px;
}

.menu-button a .icon{
  position: relative;
  display: block;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
}



.menu-button a .text{
  position: absolute;
    color: black;
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.menu-button:hover a .text{
  opacity: 1;
    transform: translateX(60px);
}

ul{
  margin: 40px;
}

ul li{
  position: relative;
  list-style-type: none;
}




ul li a .icon{
  position: relative;
  display: block;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
}

ul li:hover a .icon{
  transform: translateY(-25px);
}

ul li a .text{
  position: absolute;
  color: black;
  font-weight: 700;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

ul li:hover a .text{
  opacity: 1;
  transform: translateY(10px);
}