<section class="product">
    <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
                <div class="item">
                    <div class="text" >
                        <ul >
                            <li>
                                <img [src]="imageSource" alt="images" width="100px" height="100px">
                            </li>
                            <li>
                                <img [src]="imageSource" alt="images" width="100px" height="100px">
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>