<mat-toolbar>
  <div class="cont">
    <span><img src="/assets/img/logo.png" height="100" width="100" alt="" /></span>
    <p></p>
  </div>
  <app-nav-bar class="app-nav"></app-nav-bar>

</mat-toolbar>



<div style="display: flex; flex-grow: grow; margin: 5px;">

  <div class="wrapper">
    <div class="form_container">
      <div class="heading">
        <h2>Billing Address</h2>
      </div>

      <form name="form" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register()" novalidate>
        <div class="form_wrap fullname">
          <div class="form_item" style="visibility: hidden;">
            <label for="username"><i class="fas fa-user"></i></label>
            <!-- <input type="text" id="username" name="username" class="form-control" ><br><br> -->
            <input type="text" name="username" id="username" value="rerf" #username="" class="form-control"
              value={{currentUser}}>
          </div>
          <div class="form_item" style="margin-left: -330px;">
            <div class="form-group">
              <label for="drugsName"><i class="fas fa-user"></i></label>
              <input type="text" name="name" id="name" class="form-control" placeholder="Enter Customer name"
                #name="ngModel" required [(ngModel)]="adds.name" required>
              <span class="text-danger" *ngIf="(name.touched || registerForm.submitted) && name.errors?.['required']">
                Name is required
              </span>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form_item">
            <label for="email"><i class="fas fa-envelope"></i> Email</label>
            <input type="email" name="email" id="email" class="form-control" #email="ngModel" required
              [(ngModel)]="adds.email" placeholder="Enter email">
            <span class="text-danger" *ngIf="(email.touched || registerForm.submitted) && email.errors?.['required']">
              Email is required
            </span>
          </div>



        </div>
        <div class="form_wrap">
          <div class="form_item">
            <label for="pincode"><i class="fa fa-map-pin"></i> PinCode</label>
            <input type="text" name="pincode" id="pincode" class="form-control" #pincode="ngModel" required
              maxlength="6" minlength="6" [(ngModel)]="adds.pincode" placeholder="Enter PinCode">
            <div class="text-danger" *ngIf="pincode.errors && registerForm.submitted">
              <div *ngIf="pincode.errors['required']">PinCode is required</div>
              <div *ngIf="pincode.errors['minlength']"> Pincode should not be less than 6 charactersdigits</div>
              <div *ngIf="pincode.errors['maxlength']"> Pincode must be 6 digits</div>
              
            </div>
          </div>


        </div>
        <div class="form_wrap">
          <div class="form_item">
            <label for="address"><i class="fa fa-address-card"></i> Address</label>
            <input type="text" name="address" id="address" class="form-control" #address="ngModel" required
              [(ngModel)]="adds.address" placeholder="Enter LandMark" maxlength="100">
              <div class="text-danger" *ngIf="address.errors && registerForm.submitted">
                <div *ngIf="address.errors['required']">PinCode is required</div>
                <div *ngIf="address.errors['maxlength']"> Pincode should be be 100 characters</div>
                
              </div>
            
          </div>

        </div>
        <div class="form_wrap">
          <div class="form_item">
            <label for="contactNo"><i class="fa fa-phone" aria-hidden="true"></i></label>
            <input type="number" name="contactNo" id="contactNo" #contactNo="ngModel" class="form-control"
              placeholder="Enter the Contact Number" required [(ngModel)]="adds.contactNo" minlength="10">
            <span class="text-danger"
              *ngIf="(contactNo.touched || registerForm.submitted) && contactNo.errors?.['required']">
              Contact Number is required
            </span>
            <span class="text-danger" *ngIf="contactNo.errors?.['minlength']"> Contact Number must be 10 digits</span>
          </div>
        </div>

        <div class="btn btn-primary">
          <input type="submit" value="Get Started">
        </div>

      </form>
    </div>
  </div>

</div>