


<div style="display: flex; flex-grow: grow; margin-top: 0px;">

  <img src="/assets/img/doc.jpg" width="650" height="600" style="margin: 10px 20px;"/>

  <div class="wrapper">
    <div class="logo">
    <img
      id="profile-img"
      src="/assets/img/avatar.png"
      class="profile-img-card"
    />
    </div>
    <div class="text-center mt-4 name"> Sign In </div>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-field d-flex align-items-center">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          placeholder="Enter your username"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-field d-flex align-items-center">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          placeholder="Enter your password"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-field d-flex align-items-center">
        <button class="btn mt-3">Sign In</button>
      </div>
   <p style="text-align: center;">OR &nbsp;<a class="link" routerLink="/login">
        <span class="text">Sign Up</span></a></p>
      
      <div class="alert alert-warning" *ngIf="f.submitted && isLoginFailed">
        SignIn failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      You are successfully logged In!
    </div>
</div>



</div>

