
<div style="display: flex; flex-grow: grow; margin: 5px;" *ngIf="isLoggedIn">
  <app-nav style="width: 200px;"></app-nav>
  <div class="wrapper">
    <div class="form_container">
      <div class="heading">
        <h2>Supplier Form</h2>
     </div>
   
      <form name="form"  #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register(registerForm)">
        <div class="form_wrap fullname">
        
        
          <div class="form_item">
            <label for="supplierName">SupplierName :</label>
            <input type="text" name="supplierName" id="supplierName" class="form-control"
              placeholder="supplierName"  #supplierName="ngModel" pattern="[A-Za-z\s]*" ngModel required >
              <div class="alert-danger" *ngIf="supplierName.errors && registerForm.submitted">
                <div *ngIf=" supplierName.errors['required']">Supplier Name is required</div>
                <div *ngIf="supplierName.errors['pattern']"> Supplier Name should not contain any digits</div>
              </div>
              <!-- <span class="help-bpx" *ngIf="supplierName.touched && !supplierName.valid">Please Enter the Supplier Name</span> -->
          </div>
  
         
        
        </div>
        <div class="form_wrap">
          <div class="form_item">
            <label for="email">Email :</label>
              <input type="email"  name="email" id="email" class="form-control"
                placeholder="email" email required ngModel #email="ngModel">
                <div class="alert-danger" *ngIf="email.errors && registerForm.submitted">
                  <div *ngIf="email.errors['required']">Email is required</div>
                  <div *ngIf="email.errors['email']">
                    Email must be a valid email address
                  </div>
                </div>
                <!-- <span class="help-bpx" *ngIf="email.touched && !email.valid">Please Enter the Supplier Email</span> -->
          </div>
        </div>
        <div class="form_wrap">
          <div class="form_item">
            <label for="availableDrugs">Availability Drugs:</label>
            <input type="availableDrugs" name="availableDrugs" id="availableDrugs" class="form-control"
              placeholder="availableDrugs" required ngModel #availableDrugs="ngModel">
              <span class="help-bpx" *ngIf="availableDrugs.touched && !availableDrugs.valid">Please Enter the Availability Drugs</span>
          </div>
        </div>
  
        <div class="btn">
          <input type="submit" value="Get Started">
       </div>
       <div class="alert-warning" *ngIf="!registerForm.submitted && isRegistrationFailed">
        Adding failed!<br />{{ errorMessage }}
      </div>
     </form>
    </div>
   </div>
</div>

