<mat-toolbar>
    <div class="cont">
      <span><img src="/assets/img/logo.png" height="100" width="100" alt="" /></span>
      <p></p>
     </div>
    <app-nav-bar class="app-nav"></app-nav-bar>
  
  </mat-toolbar>
  
  <app-image-slider></app-image-slider><br>
  
  <h1 style="text-align:center">PREFERRED CATEGORIES</h1><BR>
  
  <div class="contai">
  
    <div class="rows">
  
      <div class="col-md-8">
  
        <form name="form">
          <div class="search">
            <i class="fa fa-search"></i>
              <input type="text" class="form-control"[(ngModel)]="searchText" name="drugs"  placeholder="Search for Medicines/..." #drugs="ngModel">
          </div>
  
        </form>
        
        
      </div>
      
    </div>
  </div>
        <section class="section-products">
          <div class="container">
              <div class="row">
                  <!-- Single Product -->
                  <div class="items" *ngFor="let item of content | filter:searchText">
                      <div id="product-1" class="single-product">
                          <div class="part-1">
                              <!-- <ul>
                                  <li><a (click)="addToCart(item)"><i class="fas fa-shopping-cart"></i></a></li>
                                 
                              </ul> -->
                              <ul >
                                <li><a (click)="outsider()" *ngIf="!isLoggedIn"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a (click)="addToCart(item)" *ngIf="isLoggedIn"><i class="fas fa-shopping-cart"></i></a></li>
                               
                            </ul>
                          </div>
                          <div class="part-2">
                              <h3 class="product-title">{{item.drugsName}}</h3>
                              <h4 class="product-price">{{item.drugsCost | currency:'INR':'symbol-narrow'}}</h4>&nbsp;&nbsp;&nbsp;
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >More</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="button-area">
                 
                <button type="button" class="prev" appPrev>
                  <i class="fas fa-angle-left"></i></button>
                <button type="button" class="next" appNext><i class="fas fa-angle-right"></i></button>
              </div>
          </div>
      </section>

      <div class="modal fade" id="exampleModal" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Drugs Details: </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="drugsList">
              <!-- <h3>{{drugs}}: -</h3> -->
              <h3>Drugs Cost: </h3><small>{{drugsList.drugsCost | currency:'INR':'symbol-narrow'}}</small>
              <h3>Drugs Description: </h3><small>{{drugsList.drugsDescription}}</small>
              <h3>Drugs Name: </h3><small>{{drugsList.drugsName}}</small>
              <h2>Supplier: - {{drugsList.supplierName}}</h2>
      
              
            </div>
          </div>
        </div>
      </div>
  
