<div class="header">
  <app-header></app-header>
</div>


<div class="body">
  <app-image-slider></app-image-slider>
<div class="container">

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-8">

      <form name="form">
        <div class="search">
          <i class="fa fa-search"></i>
            <input type="text" class="form-control"[(ngModel)]="searchText" name="drugs"  placeholder="Search for Medicines/..." #drugs="ngModel">
        </div>

      </form>
    
      
    </div>
    
  </div>

  

  <h1 style="font-weight: bold; font-size: 35px;">What are you looking for?</h1>

  <h2 class="second-pg">
    CATEGORIES
  </h2>



  <div class="middle" >
  <a  class="cat">
    <div class="card" *ngFor="let a of arr1 | filter: searchText">
     <div class="card-body" >
       <h5 class="card-title">{{a.categories}}</h5>
     </div>
     <button class="but-on" (click)="cat(a)">click here!</button>
   </div></a>
   <div class="button-area">
               
    <button type="button" class="prev" appCatPrev>
      <i class="fas fa-angle-left fa-2x"></i></button>
    <button type="button" class="next" appCatNext><i class="fas fa-angle-right fa-2x"></i></button>
  </div>
   </div>

   <div class="sub-container">

    <h1 style="font-weight: bold; font-size: 35px;">Shop Your Medicines</h1>
    <br><br>

    <app-shop></app-shop>
    
   </div>

  

</div>





</div>
<div>
  <app-footer></app-footer>
</div>





<div class="modal fade" id="exampleModals" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Sign in</h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>