@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');
/* @import "~material-icons/iconfont/material-icons.css"; */



.body{
  background-color: rgb(255, 255, 255)

}


mat-toolbar{
  height: 60px;
  background-color:  lightseagreen;
}

       .height{
        height: 20vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }

       .app-nav{
         margin-top:1px;
       }

       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }





  /* .card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }

    .card__descriptionIcon {
      margin-top: 10px;
      font-size: 32px;
      margin-bottom: 10px;
    }

    .card__descriptionText {
      margin: 15px 0px 0px 0px;
      color: #57727C;
      font-size: 12px;
      text-align: center;
    }

  .card__price {
    margin-top: 30px;
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    border-top: 1px solid #D7DBDD;
    background-color: #EEF3F5;
  }

/* 
    .btn{
      margin-top:-px;
    } */

    /* .card__descriptions{
      visibility:hidden;
    } */

    .cont h1{
      color: black;
      white-space: nowrap;
      letter-spacing: 3px;
      font-family: 'Saira Condensed', sans-serif;
    }
    

    .product{
      margin: 35px 0;
      padding: 20px 0px;
    }
    
    .slider-wrap{
      position: relative;
      overflow: hidden;
      height: 340px;
      background-color: white;
    
    }
    
    .slider-main{
      margin: 50px 0;
      /* margin-left: 5px; */
      position: absolute;
      width: 200%;
    }
    
    .items{
      display: inline-block;
      width: 355px;
      height: 200px;
      position: relative;
      margin: 0 12px;
    }
    .text{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    
    }
    .prev{
      position: absolute;
      left: 33px;
      top: 30%;
      transform: translate(-50%, -50%);
    }
    .next{
      position: absolute;
      right: 0;
      top: 30%;
      transform: translate(-50%, -50%);
    }

    .button-area{
      border: 1px solid white;
    }


    
    p {
    font-family: "Lato", sans-serif;
    text-align: justify;
    }
    
    .cards{
      width: 300px;
      height: 180px;
      border: 2px solid black;
      background-color: lightblue;
    }


    mat-card-subtitle {
    font-size: 18px;
    margin-left: 65px;
    }
    
    mat-card-title {
    color: Black;
    font-size: 25px;
    justify-content: center;
    display: flex;
    }
    