.mat-card{
    margin: 70px 0;
    height: 25;
    margin-left: 50px;
    width: 450px;
}

.card{
    margin-left: 250px;
}

.example-card {
    float: left;
    margin-top: 250px;
    margin-left: -450px;
    max-width: 400px;
   
  }

  .container{
      margin-left: 50px;
      width: 100%;
  }

  .table{
      margin-left: 50px;
      width: 1000px;
  }

  button{
      margin: 50px;
  }

  