

  <div class="container ">


    <div class="row">
  
      <div class="d-flex align-content-start flex-wrap" >
  
  
  
          <div class="card" *ngFor="let i of content | paginate: { itemsPerPage: count, currentPage: p }">
            <div *ngFor="let j of i.productImages">
  
            <div class="image-container" >
  
              <div class="first">
                
                <div class="d-flex justify-content-between align-items-center">
  
                
  
                  </div>
              </div>
              <div>
                
                <img [src]="j.picByte | safeUrl" class="img-fluid thumbnail-image" >
              </div>
  
             
              
  
            </div>
  
  
            <div class="product-detail-container p-2" >
  
                <div class="d-flex justify-content-between align-items-center">
  
                  <h5 class="dress-name">{{i.drugsName}}</h5>
  
                  <div class="d-flex flex-column mb-2">
  
                    <span class="new-price">{{i.drugsCost | currency:'INR':'symbol-narrow'}}</span>
                    
                  </div>
  
                </div>
  
  
                <div class="d-flex justify-content-between align-items-center pt-1">
  
                  <div class="d-flex ">
                    
                    <span class="item-size" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="more(i)">More</span>
                   
                  </div>
                  
  
                </div>

                <div class="d-flex justify-content-end">
                  <span class="buy" type="button" *ngIf="!isLoggedIn" (click)="outsider()">BUY +</span>
                  <span class="buy" type="button" *ngIf="isLoggedIn" (click)="addToCart(i)">BUY +</span>
                  
                </div>
              
  
            </div>
            
          </div>
          
          </div>
  
          
          
      </div>
      <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  
    </div>
    
  
  </div>

<div class="modal fade" id="exampleModal" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Drugs Details: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="cont">
        <!-- <h3>{{drugs}}: -</h3> -->
        <h3>Drugs Cost: <small>{{cont.drugsCost | currency:'INR':'symbol-narrow'}}</small> </h3>
        <h3>Drugs Description: <small>{{cont.drugsDescription}}</small></h3>
        <h3>Drugs Name: <small>{{cont.drugsName}}</small></h3>
        <h2>Supplier: - {{cont.supplierName}}</h2>
        <h2>Date Of Expiry : {{cont.dateOfExpiration}}</h2>

        
      </div>
    </div>
  </div>
</div>





