body{

	background-color: #eee;
}

.container{
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
  overflow: hidden;
}

.d-flex{
  gap:40px;
}

.pagination{
	margin-top: 35px;
}

.card{
	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(164, 161, 161, 0.19);

}

.cards{
  margin: -10px 180px 0 0;
}

.thumbnail-image{
	border-radius: 10px !important;
  height: 205px !important;
  width: 205px !important;
}

.first{

	position: absolute;
	width: 100%;
	    padding: 9px;
}


.btn{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	padding: 3px;
}







.item-size{
	width: 60px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid grey;
	color: grey;
	font-size: 10px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}


.rating-star{
	font-size: 10px !important;
}
.rating-number{
	font-size: 10px;
	color: grey;

}
.buy{
	font-size: 12px;
	color: purple;
	font-weight: 500;
}














.voutchers{
	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 190px;
	overflow: hidden;

}
.voutcher-divider{

	display: flex;

}
.voutcher-left{
	width: 60%
}
.voutcher-name{
	color: grey;
	font-size: 9px;
	font-weight: 500;
}
.voutcher-code{
	color: red;
	font-size: 11px;
	font-weight: bold;
}
.voutcher-right{
	width: 40%;	 
	background-color: purple;
	color: #fff;
}

.discount-percent{
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: 5px;
}
.off{
	font-size: 14px;
	position: relative;
	bottom: 5px;
}